body{
  font-family:'Courier New', Courier, monospace;
  font-size: 100%;
} 

header{
  background-color: #FFC4FC;
  display: block;
}

nav{
  background-color: #C4FFC7;
  font-size: 150%;

}
main{
  background-color: #FFE4C4;
  font-size: 150%;
  display: inline-block;
}

footer{
  background-color: #C7C4FF;
}

li{
  display: inline-block;
  width:  500px;
  text-align: center;
}

h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #4039BF;
  text-align: center;
}

p{
  height: 40px;
}