body{
  font-family:'Courier New', Courier, monospace;
  font-size: 100%;
} 

header{
  background-color: #FFC4FC;
  display: block;
}

nav{
  background-color: #C4FFC7;
  font-size: 150%;

}
main{
  background-color: #FFE4C4;
  font-size: 150%;
}

footer{
  background-color: #C7C4FF;
}

li{
  text-align:center;
  display: inline-block;
  
}